@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.neon-box {
  overflow: hidden;
}

.neon-box .neon-line-1 {
  background: linear-gradient(90deg, transparent, var(--blue));
}

.neon-box .neon-line-2 {
  background: linear-gradient(180deg, transparent, var(--blue));
}

.neon-box .neon-line-3 {
  background: linear-gradient(270deg, transparent, var(--blue));
}

.neon-box .neon-line-4 {
  background: linear-gradient(360deg, transparent, var(--blue));
}

.neon-box:hover .neon-line-1 {
  left: 100%;
  transition: 1s;
}

.neon-box:hover .neon-line-2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon-box:hover .neon-line-3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon-box:hover .neon-line-4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}